@import base

// -----CONTAINER-----
.container
	width: 100%
	max-width: 1396px
	padding: 0 15px
	margin: 0 auto

	+r(1400)
		max-width: 1200px

	+r(1200)
		max-width: 991px

	+r(991)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

// -----BUTTON-----
.btn
	position: relative
	display: flex
	justify-content: center
	align-items: center
	height: 65px
	font-size: 20px
	color: #fff
	background-color: $accent
	font-weight: 700
	border-radius: 5px
	max-width: fit-content
	border-bottom: 4px solid #ae132e
	padding: 0 50px

	+r(992)
		height: 50px
		font-size: 16px

	&:hover,
	&:focus
		border-bottom: 4px solid #ae132e
		background: $accent
		color: #fff
		box-shadow: 0 0 15px 0 rgba(#fff, .5)
	
	&:focus
		box-shadow: 0 0 15px 0 rgba(#fff, .3)

// -----HAMBURGER-----
.hamburger
	display: none
	padding: 0
	border: none
	background-color: transparent
	transition: all .3s

	+r(992)
		display: block

	&:focus,
	&:hover
		outline: none
		opacity: .7

	&__box
		position: relative
		display: inline-block
		width: 35px
		perspective: 80px

	&__item
		position: absolute
		right: 0
		top: 0
		width: 35px
		height: 3px
		background-color: #000
		border-radius: 4px
		transition: all .2s
		bottom: 0

		&::before
			content: ""
			display: block
			position: absolute
			right: 0
			top: -10px
			background-color: #000
			width: 35px
			height: 3px
			transition: transform 0s 0.1s

		&::after
			content: ""
			display: block
			position: absolute
			right: 0
			top: -20px
			background-color: #000
			width: 35px
			height: 3px
			transition: transform 0s 0.1s

	&--active
		z-index: 1001

		.hamburger__item
			background-color: transparent
			transform: rotateY(180deg)
			&::before
				transform: translate3d(0, 0px, 0) rotate(45deg)
			&::after
				transform: translate3d(0, 10px, 0) rotate(-45deg)


.header
	position: fixed
	top: 0
	right: 0
	left: 0
	padding: 15px 0
	z-index: 1000
	background-color: #ffffff
	+transition

	&--active
		box-shadow: 0 0 15px 0 rgba(#000, .3)
		padding: 5px 0

	&__container
		+between

	&__logo
		display: flex
		align-items: center
		color: $text
		margin-right: 20px

		&:hover,
		&:focus
			p
				color: $text

		p
			font-size: 16px
			white-space: nowrap
			line-height: 1.3

			+r(1400)
				font-size: 14px

			+r(1200)
				display: none

		img
			width: 170px
			height: auto
			margin-right: 15px

			+r(1400)
				width: 140px

	&__soc
		display: flex
		margin-right: 20px

		a
			display: block
			width: 40px
			height: 40px
			margin-right: 20px

			&:hover,
			&:focus
				transform: scale(.9)

			&:last-child
				margin-right: 0

			img
				width: 100%
				height: 100%

	&__nav

		+r(992)
			display: none
		
		ul
			display: flex

		li
			margin-right: 30px

		a
			color: $text

			&:hover,
			&:focus
				color: $accent

	&__messenger
		a
			display: block
			width: 105px

			&:hover,
			&:focus
				transform: scale(.95)

			img
				width: 100%
				height: auto

	&__info
		text-align: right

		&_clock
			font-size: 12px

		&_tel
			font-size: 30px
			font-weight: 700
			color: $accent
			line-height: 1

			+r(1200)
				font-size: 26px

			&:hover,
			&:focus
				color: $text

		&_mail
			font-size: 14px
			color: $text

			&:hover,
			&:focus
				color: $accent

			img
				width: 13px
				height: 11px
				margin-right: 8px


.sity
	color: $accent
	white-space: nowrap


.hero
	+cover
	background-image: url(../img/dest/hero__bg.png)
	position: relative
	margin-top: 95px
	padding-top: 120px
	padding-bottom: 310px

	+r(992)
		text-align: center
		padding: 100px 0

	&__arrow
		position: absolute
		left: 30px
		top: 0
		bottom: 0
		height: 100%
		width: 1px
		background-color: rgba(#fff, .15)

		+r(1500)
			display: none

		a
			position: absolute
			top: 30%
			left: -16px
			transform: translate(0, -50%)
			display: flex
			justify-content: center
			align-items: center
			width: 34px
			height: 34px
			border: 1px solid rgba(#fff, .15)
			border-radius: 50%
			background-color: #0a4750

			&:hover
				border-color: #fff

				img
					opacity: .9
		
		img
			+transition
			height: 50%
			width: 50%
			opacity: 0.5

	&__title
		max-width: 63%
		width: 100%
		font-size: 48px
		color: #ffffff
		margin-bottom: 36px

		+r(1200)
			max-width: 88%
		
		+r(992)
			max-width: 100%

	&__subtitle
		max-width: 59%
		width: 100%
		font-size: 26px
		color: #ffffff
		margin-bottom: 30px

		+r(1200)
			max-width: 88%
		
		+r(992)
			max-width: 100%

	&__btn
		@extend .btn

		+r(992)
			margin: 0 auto


.info
	margin-top: -180px
	margin-bottom: -89px
	z-index: 1

	+r(992)
		margin: 0

	&__container
		background-color: #fff
		padding: 11px
		border-radius: 15px
		box-shadow: 0 0 25px 0 rgba(#000, .3)

	&__list
		+between
		border: 2px solid rgba($accent, .1)
		padding: 32px
		border-radius: 15px

		+r(992)
			align-items: flex-start

	&__item
		width: 25%
		text-align: center
		line-height: 1.3

		+r(992)
			width: 48%
		
		&:first-child
			+r(992)
				margin-bottom: 25px

	img
		height: 85px
		margin-bottom: 25px

		+r(992)
			height: 70px
			margin-bottom: 10px


.director
	background-repeat: repeat-x
	background-image: url(../img/dest/director__bg.jpg)
	padding: 160px 0

	+r(1200)
		+cover
		padding: 130px 0 70px

	+r(992)
		padding: 40px 0

	&__container
		+between

	&__description
		width: 55%

		+r(992)
			width: 72%

	&__title
		font-size: 48px
		margin-bottom: 25px

		+r(1200)
			font-size: 34px

		span
			color: $accent

	&__text
		line-height: 2
		margin-bottom: 60px

		+r(1200)
			line-height: 1.6
			margin-bottom: 30px

	&__img
		width: 45%

		+r(992)
			width: 28%

		img
			width: 100%

	&__soc
		display: flex
		font-size: 24px

		+r(1200)
			font-size: 18px

		b
			color: $accent
			margin-right: 20px

		a
			display: block
			width: 30px
			height: 30px
			margin-right: 20px

			&:hover,
			&:focus
				transform: scale(.9)

			&:last-child
				margin-right: 0

		img
			width: 100%
			height: 100%


.services
	padding: 80px 0 40px

	+r(992)
		padding: 40px 0

	&__title
		@extend .director__title
		margin-bottom: 55px

		+r(1200)
			margin-bottom: 30px

	&__list
		+between
		align-items: flex-start

	&__item
		display: block
		width: 31%
		color: $text
		margin-bottom: 30px

		+r(992)
			width: 48%

		&:hover
			color: $text

			.services__img::before, span
				opacity: 1

	&__img
		position: relative
		overflow: hidden
		width: 100%
		border-radius: 10px
		margin-bottom: 10px

		&::before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba($accent, .7)
			+transition
			z-index: 1
			opacity: 0

		span
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 80%
			text-align: center
			color: #ffffff
			font-size: 36px
			font-weight: 800
			+transition
			z-index: 1
			opacity: 0

		img
			width: 100%
			height: auto

	&__subtitle
		font-size: 24px
		font-weight: 700
		margin-bottom: 5px

	&__text
		font-weight: 300


.partners

	&__title
		@extend .director__title
		margin-bottom: 45px

		+r(1200)
			margin-bottom: 30px

	&__slider
		height: 320px

	&__slide
		text-align: center
		background: #fff
		height: calc((100% - 30px) / 3)
		display: flex
		justify-content: center
		align-items: center


.application
	background-image: url(../img/dest/application__bg.jpg)
	background-repeat: repeat-x
	background-position: center bottom
	padding-top: 70px
	padding-bottom: 0
	overflow: hidden
	position: relative

	+r(992)
		+cover
		padding-bottom: 40px

	&__container
		+between

	&__content
		width: 52%
		padding-top: 45px
		z-index: 1

		+r(1400)
			width: 61%

		+r(1200)
			width: 75%
			padding-top: 0
		
		+r(992)
			width: 90%

	&__title
		@extend .director__title
		margin-bottom: 20px

	&__subtitle
		font-size: 30px
		font-weight: 500
		line-height: 1.2
		margin-bottom: 35px

		+r(1200)
			font-size: 24px
			margin-bottom: 25px

	&__form
		+between
		align-items: flex-start

	&__input
		width: 48%

		&:nth-child(1)
			margin-bottom: 25px

	&__btn
		@extend .btn
		max-width: 100%
		width: 100%

		&:hover
			box-shadow: 0 0 25px 0 rgba($accent, .7)

		&:focus
			box-shadow: 0 0 25px 0 rgba($accent, .3)

	&__img
		width: 30%

		+r(1200)
			width: 22%
		
		+r(992)
			width: .1px
			z-index: 0

		img
			+r(992)
				position: absolute
				right: -50px
				top: 0



.footer
	background-color: #1a1a1d
	padding: 40px 0

	&__container
		+between
		margin-bottom: 20px
	
	&__logo
		@extend .header__logo

		&:hover,
		&:focus
			p
				color: #ffffff

		p
			color: #ffffff

	&__nav
		
		ul
			display: flex

		li
			margin-right: 30px

		a
			color: #fff

			&:hover,
			&:focus
				color: $accent

	&__info
		@extend .header__info
		color: #ffffff

		&_clock
			@extend .header__info_clock

		&_tel
			@extend .header__info_tel

			&:hover,
			&:focus
				color: #ffffff

		&_mail
			@extend .header__info_mail
			color: #ffffff

	&__copy
		+between
		color: rgba(#fff, .3)

		a
			color: #ffffff

			&:hover,
			&:focus
				color: $accent


// -----MODAL-----
.modal
	position: relative
	max-width: 725px
	width: 100%
	height: auto
	padding: 60px 75px 145px
	margin: 20px 0
	background-color: #fff
	z-index: 1
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.29)
	border-radius: 20px
	border: 2px solid #273a72
	display: none

	h3
		justify-content: flex-start
		margin-bottom: 50px

	&__close
		position: absolute
		right: 15px
		top: 15px
		display: block
		width: 40px
		height: 40px
		border-radius: 50%
		border: none
		cursor: pointer
		transition: all .6s
		background-color: #fff

		&:hover,
		&:focus
			outline: none
			transform: rotate(90deg)

			span
				background: red

		span
			display: block
			position: absolute
			left: 50%
			top: 50%
			background: #273a72
			transition: all .6s
			border-radius: 4px
			height: 22px
			width: 3px

			&:first-child
				transform: translate(-50%, -50%) rotate(45deg)

			&:last-child
				transform: translate(-50%, -50%) rotate(-45deg)
